footer{
    background: #000;
    height: 300px;
    color: #fff;
    display: flex;
    
}

footer #input-email{
    padding: 5px;
    border: 0;
    outline: none;
    color: #000;
    
}

footer #submit-footer{
    padding: 5px;
    background: #69d2e7;
    border: 0;
}

footer #icon{
    font-size: 2.0em;
}

@media(max-width: 500px){
    footer{
        flex-wrap: wrap;
    }
}